<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <div class ="Hmain">
            <img src = "/static/images/SET/HEADER.png" height="30%" width="30%">    
        </div>
    </header>


    <ul>
        <li><a href="http://127.0.0.1:5000">Home</a></li>
        {% for item in Genres %}
            
         <li><a href="http://127.0.0.1:5000/Genre/{{item[0]}}">{{item[1]}}</a></li>
            
        {% endfor %}
        
    </ul>

    <div class="title">
        <h3>{{Title}}</h3>
    </div>


    {% for item in results %}
        
        
        <div class= "imageSingleDisplay">
            
            <img src= "/static/images/{{item[1]}}"  alt={{item[1]}} width="256px" height="363px">   
        </div> 
        

    {% endfor %}


   
    
    <div class = desc>
        <p>{{Desc}}</p>
    </div>


    <div class=date>
        <p>{{Date}}</p>
    </div>
    
    
</body>
<footer>mitch</footer>
</html>